/*Carrusel con desplazamiento responsive*/
.bodyCarrusel{
    /* background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000; */
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .swiper-container {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 17.5rem;
    height: 25rem;
  }

  .footer-modal-texto{
   margin-right: 5rem;
   color: rgba(248, 244, 244, 0.5);
  }