*{
    /* font-family: 'Mitr', sans-serif; */
    font-family: 'Neucha', cursive;
}
body{
    height: 100%;
    background-image: url(img/principal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu .dropdown-menu {
    top:0;
    left:100%;
}
.dropdown-menu{
    background:rgba(56, 56, 56, 0.6)!important;  
}
.navbar{
    background:rgba(56, 56, 56, 0.4)!important;  
    box-shadow: 0 0 10px #4f4f52!important;
}
.top-nav-collapse{
    background:rgba(56, 56, 56, 0.8)!important;
}
.dropdown-item, .nav-link{
   color: white!important;
}

.dropdown-item:hover,#ubicacion:hover{
    background-color: rgba(251, 251, 255, 0.9)!important;
    color: black!important;
}

#ubicacion{
    box-shadow: 0 0 10px #f5f2f2
}
.nosotros{
    margin-right: 2rem;
    margin-left: 1rem;
}
/* #footer-title{
    font-size: .8rem!important;
} */
footer{
    background-color: black;
    font-family: 'Mitr', sans-serif;
    position: absolute;
    bottom: -5rem;
    width: 100%;
    height: 70px;
    color: white;
    box-shadow: 0 0 10px #4f4f52!important;
  }

/*animacion del DropDown*/
.show > .dropdown-menu {
    max-height: 800px;
    visibility: visible;
  }
    
  .dropdown-menu {
    display: block;
    max-height: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
    overflow: hidden;
  }

.heading{
    color: white!important;
    font-size: x-large;
}
.modal-content{
    background-color: rgba(0,0,0,0.8);
}
.modal-lg {
    max-width: 75% !important;
}
#app-modal1 p, #app-modal p{
    color: white!important;
    font-size: x-large!important;
}

#app-modal strong{
    font-size: x-large!important;
}
#modalPush{
    margin-top: 1.6rem!important;
}
.modal-content, #imagen-modal img{
    box-shadow: 0 0 15px #4f4f52!important;
}
/* .carousel-inner div img{
    max-width:500px;
} */

@media screen and (max-width:990px){
    .dropdown-menu{
        background:#070707e6!important;  
    }
    .nosotros{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .heading{
        font-size: x-large;
    }
    #app-modal1 p, #app-modal p{
        color: white!important;
        font-size: large!important;
    }
    .modal-lg {
        max-width: 80% !important;
    }
}

@media screen and (max-width:767px){
    .heading{
        font-size: large;
    }
    #app-modal1 p, #app-modal p{
        margin-top: 1rem;
        font-size: medium!important;
    }
    .modal-lg {
        max-width: 90% !important;
    }
}

@media screen and (max-width:575px){
    .modal-lg {
        max-width: 100% !important;
    }
}
